body {
    background: #f5f5f5;
}

header {
    width: 100%;
    height: 1.9rem;
    line-height: 1.9rem;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 66;
    -webkit-justify-content: space-between;
    border: -bottom 2px solid #eaeaea;
    a:nth-of-type(1) {
        padding-left: 0.8rem;
        padding-top: 0.3rem;
        width: 2.75rem;
        height: 1.25rem;
        img {
            width: 2.75rem;
            height: 1.25rem;
        }
    }
    a:nth-of-type(2) {
        padding-right: 0.8rem;
        padding-top: 0.3rem;
        width: 1rem;
        height: 1.1rem;
        position: relative;
        img {
            width: 1rem;
            height: 1.1rem;
        }
        p {
            position: absolute;
            right: 0rem;
            width: 2rem;
            font-size: 0.65rem;
            margin-top: -1rem;
            color: white;
            //          border: 1px solid red;
        }
    }
    p{
        width: 13rem;
       height: 1.5rem;
       position: relative;
       input{
           padding-left: 1rem;
       width: 12rem;
       height: 1.5rem;
       background: white;
       border-radius: 5px;
       margin-top: 0.35rem;
    }
    >img{
        
        position: absolute;
        top: 0.7rem;
        left: 0.2rem;
        width: 0.75rem;
        height: 0.75rem;
    } 
    }
}

.banner {
    width: 100%;
    height: 8.8rem;
    position: relative;
    overflow: hidden;
    ul {
        width: 600%;
        position: absolute;
        li {
            float: left;
            height: 8.8rem;
            img {
                width: 20.7rem;
                height: 8.8rem;
            }
        }
    }
    .num {
        position: absolute;
        bottom: 0.35rem;
        left: 6.6rem;
        li {
            margin-left: 0.7rem;
            list-style: none;
            float: left;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            border: 1px solid white;
        }
        .on {
            background: pink;
        }
    }
    span {
        position: absolute;
        width: 1rem;
        height: 1rem;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
        line-height: 1rem;
        top: 50%;
        font-size: 0.8rem;
    }
    .sp1 {
        float: left;
    }
    .sp2 {
        float: right;
        right: 0;
    }
}
.uls{
    width: 100%;
    height: 11rem;
    background: white;
    
    ul{
        width: 100%;
        height: 11rem;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        li{
           width: 2.5rem; 
           padding: 0 1rem 0 1.5rem;
           margin-top: 1rem;
           position: relative;
           a{
               width: 2.25rem;
               height: 2.25rem;
               img{
                  width: 2.25rem;
               height: 2.25rem; 
               }
           }
           p{
               margin-top: 0.7rem;
               font-size: 0.6rem;
           }
           div{
                position: absolute;
               width: 2.1rem;
               height: 1rem;
               border-radius:5px ;
               background: #ff7f00;
               top: 0;
               right: 0.3rem;
                font-size: 0.6rem;
                color: white;
                text-align: center;
                line-height: 1rem;
           }
        }
    }
}
.jd_box{
    width: 100%;
    margin-top: 0.35rem;
    height: 5rem;
    border:1px solid #f0f0f0 ;
    ul{
        width: 100%;
        display: flex;
        height: 5rem;
        li{
            width: calc(100%/3);
            height: 5rem;
            border: 1px solid #f0f0f0;
            background: white;
            text-align: center;
            a{
                width: 4.15rem;
                height: 3.4rem;
                img{
                    margin-top: 1rem;
                width: 4.15rem;
                height: 3.4rem;
            }
            }
            
        }
    }
}
.hy_box{
    width: 100%;
    height: 4.75rem;
    border: 1px solid #f0f0f0;
    display: flex;
    -webkit-justify-content: space-around;
    text-align: center;
    background: white;
    a{
        width: 50%;
        height: 3.4rem;
        border-left:1px solid  #f0f0f0;
        img{
           width: 7.65rem;
           height: 3.4rem;
           margin-top: 0.75rem;
        }
    }
}
.hb_box{
    width: 100%;
    display: flex;
    border: 1px solid #f0f0f0;
    background: white;
    div:nth-of-type(1){
        width: 5.25rem;
        height: 5.75rem;
        border-right: 1px solid  #f0f0f0;
        text-align: center;
        img{
           margin-top: 0.95rem;
           width: 4rem;
           height: 3.2rem; 
        }
        p{
            font-size: 0.6rem;
        }
    }
    div:nth-of-type(2){
        width: 9rem;
        height: 5.75rem;
        border-right: 1px solid #f0f0f0;
        text-align: center;
        img{
            margin-top: 1.05rem;
           width:5.6rem;
        height: 3.15rem; 
        }
        p{
            font-size: 0.6rem;
        }
    }
    div:nth-of-type(3){
        width: 6.3rem;
        height: 5.75rem;
        border-right: 1px solid #f0f0f0;
        text-align: center;
        img{
            margin-top: 1.05rem;
           width:4.05rem;
        height: 3.2rem; 
        }
        p{
            font-size: 0.6rem;
        }
    }
}
.qc_box{
    width: 100%;
    display: flex;
    background: white;
    div:nth-of-type(1){
        width: 13.9rem;
        height: 8.8rem;
        text-align: center;
        a{
           width: 12.75rem;
        height: 7.3rem; 
        img{
            margin-top: 1rem;
            width: 12.75rem;
        height: 7.3rem;
        }
        }
    }
    div:nth-of-type(2){
//      width: 6.95rem;
        margin-left: 0.6rem;
        margin-top: 1rem;
        height: 8.8rem;
        h4{
            margin-bottom: 0.5rem;
            font-size: 0.6rem;
            a{
                color: #000000;
            }
        }
        p{
            margin-left: 0.45rem;
            margin-bottom: 0.8rem;
            font-size: 0.55rem;
           a{
                color: #b7b4b4;
           }
        }
    }
}
.jr_box{
    height: 2rem;
    width: 100%;
    background: white;
    margin-top: 0.35rem;
    line-height: 2rem;
    display: flex;
    -webkit-justify-content: space-between;
    h2{
        border-left:2px solid #ff9804 ;
        font-size: 0.8rem;
        padding-left: 1rem;
        a{
            color: #ff9804;
        }
    }
    p{
        width: 2.5rem;
         height: 2rem;
         margin-right: 1rem;
        span{
            margin-top: 0.9rem;
            width: 0.35rem;
            height: 0.35rem;
            border-radius: 50%;
            border: 1px solid #999;
            margin-left: 0.3rem;
            float: left;
        }
    }
}
.main{
    width: 100%;
    ul{
        width: 100%;
        li{
            width: 100%;
            height: 5.8rem;
            border: 1px solid #f0f0f0;
            background: white;
            display: flex;
            div:nth-of-type(1){
                width: 5rem;
                height: 5.8rem;
                text-align: center;
                a{
                    width: 4.15rem;
                    height: 3.2rem;
                    img{
                        margin-top: 0.55rem;
                        margin-left: 0.4rem;
                       width: 4.15rem;
                    height: 3.2rem; 
                    }
                }
            }
            div:nth-of-type(2){
                margin-top: 0.6rem;
                h3{
                    font-size: 0.7rem;
                    a{
                        color: #000000;
                    }
                }
                p:nth-of-type(1){
                    font-size: 0.6rem;
                    margin-top: 0.55rem;
//                  border: 1px solid red;
                    a{
                        color: #bdbdbd;
                    }
                }
                p:nth-of-type(2){
                    font-size: 0.6rem;
                    margin-top: 0.5rem;
                    width: 8rem;
                    float: left;
                    left: 0;
                    color: red;
//                  border: 1px solid red;
                    span{
                        color: red;
                        font-size: 0.4rem;
                    }
                }
                p:nth-of-type(3){
                    font-size: 0.6rem;
                    margin-top: 0.5rem;
                    float: right;
                    margin-right: 1rem;
                    a{
                        color: #bdbdbd;
                    }
                }
            }
        }
    }
}
.kong{
    width: 100%;
    height: 5rem;
}
footer{
    width: 100%;
    height: 3.2rem;
    background: white;
    border-top: 2px solid #eaeaea;
    position: fixed;
    bottom: 0;
    ul{
        width: 100%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        li{
            width: 2.4rem;
            padding: 0 0 0 1.4rem;
            margin-top: 0.4rem;
            a{
                width:1.15rem ;
                height: 1.15rem;
                img{
                    width:1.15rem ;
                height: 1.15rem;
                }
            }
            p{
                margin-top: 0.4rem;
                font-size: 0.6rem;
            }
        }
    }
}
